@media screen and (max-width: 992px) {}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 60px;
    border-right: none !important;
}

.sidenav:hover {
    width: 230px;
    border-right: none !important;
}

.mat-sidenav,
.mat-toolbar {
    background-color: #033a53;
}

#navsticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-toolbar img {
    max-width: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.mat-nav-list {
    padding-top: 1rem;
    overflow: hidden !important;
}

.mat-nav-list .logo {
    font-weight: 400;
    padding: 0px 20px;
    margin: 0px 0px 10px
}

#logo{
    position: relative;
    top:5px;
    margin-left:10px;
    cursor: pointer;
}

.mylogo {
    margin-top: 9px;
}

.mat-nav-list a {
    font-weight: 500
}

.mat-nav-list a:hover, .navactive {  
    border-left: 5px solid rgb(255, 255, 255);
    transition: border-left 0.3s;
}

.profilelink i {
    margin-right: 8px !important;
    position: relative;
    top: 5px;
    font-size: 20px;
}


.mat-nav-list a,
.mat-nav-list {
    background-color:#033a53 !important;
}

.mat-toolbar,

.mat-nav-list a,
.mat-nav-list {
    color: rgb(255, 254, 254)!important;
}
.profiles, .navactive {
    background-color: #033a53 !important;
    color: rgb(255, 254, 254)!important;
}
::ng-deep .mat-menu-content {
    padding: 0px !important;
}