/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(213, 213, 218) !important;
}


.example-fill-remaining-space {
    flex: 1 1 auto;
}

.appcenter {
    text-align: center;
}

.mat-divider {
    border-color:rgb(206, 198, 198) !important;
}
/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(213, 210, 218);
    border-radius: 4px;
    height: 30px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(154, 152, 156);
}

.material-icons {
    margin-right: 1.5rem
}
